<% if current_user != user %>
  <li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= add_friend_btn(user) %>
  </span>
</li>
<% end %>
